<h2>Skills</h2>
<div class="flexrow">
  <span class="">Strength</span> 
  <span class="" data-field="initial">d4</span>
  <span class="flexcol">
      <a data-roll-type="stepup" data-field="initial" data-item-id=""><i class="fa-solid fa-caret-up"></i></a>
      <a data-roll-type="stepdown" data-field="initial" data-item-id=""><i class="fa-solid fa-caret-down"></i></a>
  </span>
  <span class="">
      <a data-roll-type="roll-dice" data-field="system.current" data-item-id="">d4</a>
  </span>
  <span class="flexcol">
      <a data-roll-type="stepup" data-field="current" data-item-id=""><i class="fa-solid fa-caret-up"></i></a>
      <a data-roll-type="stepdown" data-field="current" data-item-id=""><i class="fa-solid fa-caret-down"></i></a>
  </span>
</div>

<div class="flexrow">
  <span class="">Dexterity</span> 
  <span class="" data-field="initial">d4</span>
  <span class="flexcol">
      <a data-roll-type="stepup" data-field="initial" data-item-id=""><i class="fa-solid fa-caret-up"></i></a>
      <a data-roll-type="stepdown" data-field="initial" data-item-id=""><i class="fa-solid fa-caret-down"></i></a>
  </span>
  <span class="">
      <a data-roll-type="roll-dice" data-field="system.current" data-item-id="">d4</a>
  </span>
  <span class="flexcol">
      <a data-roll-type="stepup" data-field="current" data-item-id=""><i class="fa-solid fa-caret-up"></i></a>
      <a data-roll-type="stepdown" data-field="current" data-item-id=""><i class="fa-solid fa-caret-down"></i></a>
  </span>
</div>

<div class="flexrow">
  <span class="">Willpower</span> 
  <span class="" data-field="initial">d4</span>
  <span class="flexcol">
      <a data-roll-type="stepup" data-field="initial" data-item-id=""><i class="fa-solid fa-caret-up"></i></a>
      <a data-roll-type="stepdown" data-field="initial" data-item-id=""><i class="fa-solid fa-caret-down"></i></a>
  </span>
  <span class="">
      <a data-roll-type="roll-dice" data-field="system.current" data-item-id="">d4</a>
  </span>
  <span class="flexcol">
      <a data-roll-type="stepup" data-field="current" data-item-id=""><i class="fa-solid fa-caret-up"></i></a>
      <a data-roll-type="stepdown" data-field="current" data-item-id=""><i class="fa-solid fa-caret-down"></i></a>
  </span>
</div>

<div class="flexrow">
  <span class="">Loot</span> 
  <span class="" data-field="initial">d12</span>
  <span class="">
      <a data-roll-type="roll-dice" data-field="system.current" data-item-id="">d4</a>
  </span>
  <span class="flexcol">
      <a data-roll-type="stepup" data-field="current" data-item-id=""><i class="fa-solid fa-caret-up"></i></a>
      <a data-roll-type="stepdown" data-field="current" data-item-id=""><i class="fa-solid fa-caret-down"></i></a>
  </span>
</div>

<div class="flexrow">
  <span class="">Grit</span>
  <span class="" data-field="initial">d12</span>
  <span class="">
    <input type="checkbox" id="grit" name="grit" value="grit-used">
  </span>
</div>