<div class="flexrow">
  <div class="flexcol">
    <div class="flexcol">
      <h2>Personality Traits</h2>
      <div class="flexrow">
        <input name="" type="text" value=""/>
        <a data-roll-type="" title="" data-item-id=""><i class="fa-regular fa-dice"></i></a>
      </div>
      <div class="flexrow">
        <input name="" type="text" value=""/>
        <a data-roll-type="" title="" data-item-id=""><i class="fa-regular fa-dice"></i></a>
      </div>
    </div>

    <div class="flexcol">
      <h2>Body Type</h2>
      <div class="flexrow">
        <input name="" type="text" value=""/>
        <a data-roll-type="" title="" data-item-id=""><i class="fa-regular fa-dice"></i></a>
      </div>
    </div>

    <div class="flexcol">
      <h2>Background Questions</h2>
      <h3>Question One</h3>
      {{editor system.notes target="system.notes" rollData=rollData button=true owner=owner editable=editable}}
      <h3>Question Two</h3>
      {{editor system.notes target="system.notes" rollData=rollData button=true owner=owner editable=editable}}
      <h3>Question Three</h3>
      {{editor system.notes target="system.notes" rollData=rollData button=true owner=owner editable=editable}}
    </div>
  </div>
  
  <div class="flexcol">
    <div class="flexcol">
      <h2>Quirk</h2>
      <div class="flexrow">
        {{editor system.notes target="system.notes" rollData=rollData button=true owner=owner editable=editable}}
        <a data-roll-type="" title="" data-item-id=""><i class="fa-regular fa-dice"></i></a>
      </div>
    </div>

    <div class="flexcol">
      <h2>Look</h2>
      <div class="flexrow">
        {{editor system.notes target="system.notes" rollData=rollData button=true owner=owner editable=editable}}
        <div class="flexcol">
          <a data-roll-type="" title="" data-item-id=""><i class="fa-regular fa-dice"></i></a>
          <a data-roll-type="" title="" data-item-id=""><i class="fa-solid fa-plus"></i></a>
        </div>
      </div>
    </div>

    <div class="flexcol">
      <h2>Visions of Glory</h2>
      {{editor system.notes target="system.notes" rollData=rollData button=true owner=owner editable=editable}}
      <div class="flexrow">
        <span>Advancement Roll</span>
        <a data-roll-type="" title="" data-item-id=""><i class="fa-regular fa-dice"></i></a>
      </div>
    </div>

    <div class="flexcol">
      <h2>Facets</h2>
      {{editor system.notes target="system.notes" rollData=rollData button=true owner=owner editable=editable}}
    </div>
  </div>
</div>