<div class="flexcol body-section">
  <h2>{{localize "STONEBURNER.actor.skills.title"}}</h2>

  {{#each system.skills as |skill key|}}
    <div class="roll-box flexrow">
      <span class="roll-box-label">{{localize skill.label}}</span>
      
      <div class="dice initial" data-field="initial">d4</div>
      <span class="flexcol steppers">
          <a data-roll-type="stepup" data-field="initial" data-item-id=""><i class="fa-solid fa-caret-up"></i></a>
          <a data-roll-type="stepdown" data-field="initial" data-item-id=""><i class="fa-solid fa-caret-down"></i></a>
      </span>
    
      <div class="dice current">
        <a data-roll-type="roll-dice" data-field="system.current" data-item-id="">d4</a>
      </div>
      <span class="flexcol steppers roll-box-end">
        <a data-roll-type="stepup" data-field="current" data-item-id=""><i class="fa-solid fa-caret-up"></i></a>
        <a data-roll-type="stepdown" data-field="current" data-item-id=""><i class="fa-solid fa-caret-down"></i></a>
      </span>
    </div>
  {{/each}}

  <div class="roll-box flexrow">
    <span class="roll-box-label">{{localize "STONEBURNER.actor.skills.loot.label"}}</span>
    
    <div class="dice initial" data-field="initial">d12</div>
    <span class="steppers no-steppers"></span>

    <div class="dice current">
      <a data-roll-type="roll-dice" data-field="system.current" data-item-id="">d4</a>
    </div>
    <span class="flexcol steppers roll-box-end">
      <a data-roll-type="stepup" data-field="current" data-item-id=""><i class="fa-solid fa-caret-up"></i></a>
      <a data-roll-type="stepdown" data-field="current" data-item-id=""><i class="fa-solid fa-caret-down"></i></a>
    </span>
  </div>

  <div class="roll-box flexrow">
    <span class="roll-box-label">{{localize "STONEBURNER.actor.skills.grit.label"}}</span>
    
    <div class="dice initial" data-field="initial">d12</div>
    <span class="steppers no-steppers"></span>

    <div class="dice current">
      <input type="checkbox"/>
    </div>

    <span class="steppers roll-box-end no-steppers"></span>
  </div>

</div>
