<div class="flexcol">
  <div class="flexrow">
    <button type="button" class="" data-roll-type="ability-create" data-type="ability"><i class="fas fa-plus-square"></i></button>
    <h2>{{localize "STONEBURNER.actor.abilities.title"}}</h2>
  </div>

  <div class="flexrow">
    <input name="" type="text" value="New Ability"/>
    <span class="flexcol flex0">
      <a class="" data-roll-type="" title="" data-item-id=""><i class="fa-solid fa-bolt"></i></a>
    </span>
    <span class="">
        100
    </span>
    <span class="flexcol">
        <a data-roll-type="stepup" data-field="current" data-item-id=""><i class="fa-solid fa-caret-up"></i></a>
        <a data-roll-type="stepdown" data-field="current" data-item-id=""><i class="fa-solid fa-caret-down"></i></a>
    </span>
    <span class="flexcol flex0">
      <a class="" data-roll-type="ability-delete" title="Delete" data-item-id=""><i class="fa-solid fa-xmark"></i></a>
    </span>
  </div>
</div>