<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="140" width="140"/>
    <div class="header-fields">
      <h1 class="charname flexrow">
        <label>Name:</label>
        <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
        <a data-roll-type="" title="rollname" data-item-id=""><i class="fa-regular fa-dice"></i></a>
      </h1>
      <div class="flexrow">

        <div class="flexcol">
          <div class="flexrow">
            <label>Pronouns:</label>
            <input name="pronouns" type="text" value=""/>
          </div>
  
          <div class="flexrow">
            <label for="kits">Kit:</label>
            <select name="kits" id="kits">
              <option value="sinker">Sinker (engineer)</option>
              <option value="sounder">Sounder (scout)</option>
              <option value="spellwinder">Spellwinder (caster)</option>
              <option value="stanchion">Stanchion (guardian)</option>
            </select>   
          </div>
  
          <div class="flexrow">
            <label for="backgrounds">Background:</label>
            <select name="backgrounds" id="backgrounds">
              <option value="teacher">Teacher</option>
              <option value="seeker">Seeker</option>
              <option value="broken">Broken</option>
            </select>   
          </div>
        </div>

        <div class="flexcol">
          <div class="flexrow">
            <span class="">Resilience</span> 
            <span class="" data-field="initial">d4</span>
            <span class="flexcol">
                <a data-roll-type="stepup" data-field="initial" data-item-id=""><i class="fa-solid fa-caret-up"></i></a>
                <a data-roll-type="stepdown" data-field="initial" data-item-id=""><i class="fa-solid fa-caret-down"></i></a>
            </span>
            <span class="">
                <a data-roll-type="roll-dice" data-field="system.current" data-item-id="">d4</a>
            </span>
            <span class="flexcol">
                <a data-roll-type="stepup" data-field="current" data-item-id=""><i class="fa-solid fa-caret-up"></i></a>
                <a data-roll-type="stepdown" data-field="current" data-item-id=""><i class="fa-solid fa-caret-down"></i></a>
            </span>
          </div>
  
          <div class="flexrow">
            <span class="">Credits</span> 
            <span class="" data-field="credits">100</span>
            <span class="flexcol">
                <a data-roll-type="stepup" data-field="credits" data-item-id=""><i class="fa-solid fa-caret-up"></i></a>
                <a data-roll-type="stepdown" data-field="credits" data-item-id=""><i class="fa-solid fa-caret-down"></i></a>
            </span>
        </div>

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="skills-items">Skills & Items</a>
    <a class="item" data-tab="details">Details</a>
    <a class="item" data-tab="projects-notes">Projects & Notes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Skills & Items Tab --}}
    <div class="tab skills-items" data-group="primary" data-tab="skills-items">
      <div class="flexrow">
        <div class="flexcol">
          {{> "systems/stoneburner/templates/actor/parts/actor-skills.html"}}

          {{> "systems/stoneburner/templates/actor/parts/actor-items.html"}}
        </div>

        <div class="flexcol">
          
        </div>
      </div>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/stoneburner/templates/actor/parts/actor-items.html"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/stoneburner/templates/actor/parts/actor-spells.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/stoneburner/templates/actor/parts/actor-effects.html"}}
    </div>

  </section>
</form>

