<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="140" width="140"/>
    <div class="header-fields">
      <h1 class="charname flexrow">
        <label class="with_input">{{localize "STONEBURNER.actor.name.label"}}</label>
        <input name="name" type="text" value="{{actor.name}}"/>
        <a data-roll-type="" title="rollname" data-item-id=""><i class="fa-regular fa-dice"></i></a>
      </h1>
      <div class="flexrow">

        <div class="flexcol header-left-group">
          <div class="flexrow header-group">
            <label class="with_input">{{localize "STONEBURNER.actor.pronouns.label"}}</label>
            <input name="pronouns" type="text" value=""/>
          </div>
  
          <div class="flexrow header-group">
            <label for="kits">{{localize "STONEBURNER.actor.kit.label"}}</label>
            <select name="kits" id="kits">
              <option value="sinker">{{localize "STONEBURNER.actor.kit.sinker.name"}}</option>
              <option value="sounder">{{localize "STONEBURNER.actor.kit.sounder.name"}}</option>
              <option value="spellwinder">{{localize "STONEBURNER.actor.kit.spellwinder.name"}}</option>
              <option value="stanchion">{{localize "STONEBURNER.actor.kit.stanchion.name"}}</option>
            </select>   
          </div>
  
          <div class="flexrow header-group">
            <label for="backgrounds">{{localize "STONEBURNER.actor.background.label"}}</label>
            <select name="backgrounds" id="backgrounds">
              <option value="teacher">Teacher</option>
              <option value="seeker">Seeker</option>
              <option value="broken">Broken</option>
            </select>   
          </div>
        </div>

        <div class="flexcol header-right-group">
          <div class="flexrow header-group counter">
            <label>{{localize "STONEBURNER.actor.resilience.title"}}</label> 
            
            <div class="flexrow initial">
              <div class="dice" data-field="initial">
                d4
              </div>
              <span class="flexcol steppers">
                  <a data-roll-type="stepup" data-field="initial" data-item-id=""><i class="fa-solid fa-caret-up"></i></a>
                  <a data-roll-type="stepdown" data-field="initial" data-item-id=""><i class="fa-solid fa-caret-down"></i></a>
              </span>
            </div>

            <div class="flexrow current">
              <div class="dice">
                <a data-roll-type="roll-dice" data-field="system.current" data-item-id="">d4</a>
              </div>
              <span class="flexcol steppers">
                <a data-roll-type="stepup" data-field="current" data-item-id=""><i class="fa-solid fa-caret-up"></i></a>
                <a data-roll-type="stepdown" data-field="current" data-item-id=""><i class="fa-solid fa-caret-down"></i></a>
              </span>
            </div>
          </div>
  
          <div class="flexrow header-group counter">
            <label>{{localize "STONEBURNER.actor.credits.title"}}</label> 
            <input data-field="credits" name="credits" type="text" value="{{system.credits}}"/>
            <span class="flexcol steppers">
                <a data-roll-type="stepup" data-field="credits" data-item-id=""><i class="fa-solid fa-caret-up"></i></a>
                <a data-roll-type="stepdown" data-field="credits" data-item-id=""><i class="fa-solid fa-caret-down"></i></a>
            </span>
        </div>

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="skills-items">{{localize "STONEBURNER.actor.tabs.skillsItems.label"}}</a>
    <a class="item" data-tab="details">{{localize "STONEBURNER.actor.tabs.details.label"}}</a>
    <a class="item" data-tab="projects-notes">{{localize "STONEBURNER.actor.tabs.projectsNotes.label"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Skills & Items Tab --}}
    <div class="tab skills-items" data-group="primary" data-tab="skills-items">
      <div class="flexrow">
        <div class="flexcol left-column">
          {{> "systems/stoneburner/templates/actor/parts/actor-skills.html"}}
          
          {{> "systems/stoneburner/templates/actor/parts/actor-items.html"}}
        </div>

        <div class="flexcol right-column">
          <div class="flexrow">
            <button type="button" class="">{{localize "STONEBURNER.actor.button.catchYourBreath.label"}}</button>
            <button type="button" class="">{{localize "STONEBURNER.actor.button.rest.label"}}</button>
          </div>
          {{> "systems/stoneburner/templates/actor/parts/actor-artifacts.html"}}
          {{> "systems/stoneburner/templates/actor/parts/actor-abilities.html"}}
        </div>
      </div>
    </div>

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      {{> "systems/stoneburner/templates/actor/parts/actor-details.html"}}
    </div>

    {{!-- Projects & Notes Tab --}}
    <div class="tab projects-notes" data-group="primary" data-tab="projects-notes">
      <div class="flexrow">
        <div class="flexcol">
          {{> "systems/stoneburner/templates/actor/parts/actor-projects.html"}}
        </div>
        {{editor system.notes target="system.notes" rollData=rollData button=true owner=owner editable=editable}}
      </div>
    </div>

  </section>
</form>

