.sheet-header {
  flex: 0 auto;
}

.sheet-tabs {
  flex: 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 100%;
}

h1, h2, h3 {
  border: none;
}

h2 {
  font-family: $font-secondary;
  border: none;
}

.right-column {
  margin-left: 10px;
}

.left-column {
  margin-right: 10px;
}

.vertical-spacer {
  height: 40px;
}

.character {

  .abilities, 
  .artifacts,
  .rest-actions,
  .items {
    flex: none;
    margin-top: 20px;
  }

  .rest-actions {
    margin: 10px 0px 10px 0px;
    padding: 0px 10px 10px 10px;
    border-bottom: 2px solid black;
  }

  .item-section-header {
    align-items: center;

    h2 {
      margin: 0;
    }

    button {
        @include button_reset();
        flex: none;
        color: #beb19b;
        font-size: 2em;
    }
  }

  .artifacts .roll-box input[type=text].roll-box-label {
    padding: 0;
    border-left: none;
  } 

  .roll-box {
    font-family: $font-secondary;
    align-items: center;
    padding: 0;
    margin-bottom: 10px;

    .artifact-check {
      border-bottom: 2px solid black;
      border-top: 2px solid black;
      height: 40px;
      flex: none;
      display: flex;
      align-items: center;
    }

    .ability-bolt {
      padding: 0 10px 0 10px;
      border-bottom: 2px solid black;
      border-top: 2px solid black;
      height: 40px;
      flex: none;
      display: flex;
      align-items: center;
    }
  
    input[type=text].roll-box-label,
    .roll-box-label {
      background-color: transparent;
      padding: 0 0 0 10px;
      margin: 5px 0px 5px 0px;
      border-bottom: 2px solid black;
      border-top: 2px solid black;
      height: 40px;
      display: flex;
      align-items: center;
    }
    
    input[type=text].roll-box-label {
      border-radius: 0;
      border-right: none;
      text-align: start;
    }
  
    .dice {
      border-radius: 5px;
      border: 2px solid black;
      margin: 0 0 0 0;
      height: 50px;
      width: 50px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: none;
    }

    .dice {
      border-radius: 5px;
      border: 2px solid black;
      margin: 0 0 0 0;
      height: 50px;
      width: 50px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: none;
    }

    input[type=text] .num_input {
      border-radius: 5px;
      border: 2px solid black;
      margin: 0 0 0 0;
      height: 50px;
      width: 88px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: none;
    }
  
    .steppers {
      background-color: transparent;
      padding: 0 10px 0 5px;
      margin: 5px 0px 5px 0px;
      border-bottom: 2px solid black;
      border-top: 2px solid black;
      height: 40px;
      flex: none;
      justify-content: space-between;
      
      a {
        flex: none;
      }

      i {
        vertical-align: middle;
      }
    }

    .item-edit {
      padding: 0 5px 0 5px
    }

    .no-steppers {
      padding: 0 20px 0 5px;
    }
  
    .roll-box-start {
      border-left: 2px solid black;
    }
    
    .roll-box-end {
      border-right: 2px solid black;
    }
  
    .initial {
      background-color: rgba(0, 0, 0, 0.152);
    }
  
    .current {
      background-color: rgba(255, 255, 255, 0.174);
    }
    
  }

 .sheet-header {

  label {
    flex-grow:0;
    font-family: $font-secondary;
    display: flex;
    align-items: center;
  }

  .profile-img {
    flex: 0 0 140px;
    height: 140px;
    margin-right: 10px;
  }

  .header-fields {

    .header-group {
      margin: 5px 0px 5px 0;
    }

    .header-left-group {
      margin-right: 5px;
    }

    .header-right-group {
      margin-left: 5px;
    }

    label.with_input {
      height: 100%;
      flex-grow:0;
      border-bottom: 2px solid black;
      font-family: $font-secondary;
    }

    input[type=text] {
      height: 100%;
      width: 100%;
      padding: 0 6px 0 6px;
      margin: 0;
      background: none;
      box-sizing: border-box;
      border: none;
      border-radius: 0px;
      border-bottom: 2px solid black;
    }

    select {
      margin-left: 6px;
    }

    .charname {
      align-items: flex-end;
      margin: 0 0 10px 0;
      height: 30px;

      // label {

      // }

      a {
        flex-grow:0;
        font-size: 20px;
        margin: 0 10px 0 10px;;
      }

      // input {

      // }
    }

    .roll-box {
    
      .roll-box-label {
        height: 30px;
      }
    
      .dice {
        height: 40px;
        width: 40px;
      }
    
      .steppers {
        height: 30px;
        font-size: small;
      }

      input[type=number] {
        border-radius: 5px;
        border: 2px solid black;
        margin: 0 0 0 0;
        height: 50px;
        width: 105px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: none;
      }
    
    }
  }
 }

}