.sheet-header {
  flex: 0 auto;
}

.sheet-tabs {
  flex: 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 100%;
}

h1, h2, h3 {
  border: none;
}

h2 {
  font-family: $font-secondary;
  border: none;
}

.right-column {
  margin-left: 10px;
}

.left-column {
  margin-right: 10px;
}

.vertical-spacer {
  height: 40px;
}

.body-section {
  margin-bottom: 20px;
}

.character { 

  .roll-box {
    font-family: $font-secondary;
    align-items: center;
    padding: 0;
    margin-bottom: 10px;
  
    .roll-box-label {
      background-color: transparent;
      padding: 0 0 0 10px;
      margin: 5px 0px 5px 0px;
      border-bottom: 2px solid black;
      border-top: 2px solid black;
      border-left: 2px solid black;
      height: 40px;
      display: flex;
      align-items: center;
    }
  
    .dice {
      border-radius: 5px;
      border: 2px solid black;
      margin: 0 0 0 0;
      height: 50px;
      width: 50px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: none;
    }
  
    .steppers {
      background-color: transparent;
      padding: 0 10px 0 5px;
      margin: 5px 0px 5px 0px;
      border-bottom: 2px solid black;
      border-top: 2px solid black;
      height: 40px;
      flex: none;
      justify-content: space-between;
      
      a {
        flex: none;
      }

      i {
        vertical-align: middle;
      }
    }
  
    .roll-box-end {
      border-right: 2px solid black;
    }
  
    .initial {
      background-color: rgba(0, 0, 0, 0.152);
    }
  
    .current {
      background-color: rgba(255, 255, 255, 0.174);
    }
    
    input[type=text] {
      border-radius: 5px;
      border: 2px solid black;
      margin: 2px 6px 2px 6px;
      width: 100%;
      text-align: center;
    }
  }

 .sheet-header {

  .roll-box {
    padding: 0;
    margin-bottom: 10px;
  
    .roll-box-label {
      padding: 0 0 0 10px;
      margin: 5px 0px 5px 0px;
      height: 30px;
    }
  
    .dice {
      margin: 0 0 0 0;
      height: 40px;
      width: 30px;
    }
  
    .steppers {
      padding: 0 10px 0 5px;
      margin: 5px 0px 5px 0px;
      height: 30px;
      font-size: small;
    }
  
  }

  label {
    flex-grow:0;
    font-family: $font-secondary;
    display: flex;
    align-items: center;
  }

  .profile-img {
    flex: 0 0 140px;
    height: 140px;
    margin-right: 10px;
  }

  .header-fields {

    .header-group {
      margin: 5px 0px 5px 0;
    }

    .header-left-group {
      margin-right: 5px;
    }

    .header-right-group {
      margin-left: 5px;
    }

    label.with_input {
      height: 100%;
      flex-grow:0;
      border-bottom: 2px solid black;
      font-family: $font-secondary;
    }

    input[type=text] {
      height: 100%;
      width: 100%;
      padding: 0 6px 0 6px;
      margin: 0;
      background: none;
      box-sizing: border-box;
      border: none;
      border-radius: 0px;
      border-bottom: 2px solid black;
    }

    select {
      margin-left: 6px;
    }

    .charname {
      align-items: flex-end;
      margin: 0 0 10px 0;
      height: 30px;

      // label {

      // }

      a {
        flex-grow:0;
        font-size: 20px;
        margin: 0 10px 0 10px;;
      }

      // input {

      // }


    }
  }
 }

}